*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  text-align: start;
  transition: padding 0.2s linear;
  position: relative;
  background: var(--main_Bg_Color);
  color: #000000;
  min-height: 100vh;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    text-decoration: unset;
    color: unset;
  }

  .v-application.my_app {
    background: var(--main_Bg_Color);
    color: #000000;
  }
}

/**** Scroll Style ****/
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  // background: var(--mainColor-1_1);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  // background: var(--mainColor-1_1);
}
