@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../Fonts/NeoSansArabic.ttf");
}

@font-face {
  font-family: "Neo-Bold";
  src: url("../Fonts/NeoSansArabic-Bold.ttf");
}

.mainColor {
  color: var(--main_color_1);
}

.link {
  color: var(--main_color_1);
  font-weight: bold;
}

// Primary Head
.heading-primary {
}

// Secondary Head
.heading-secondary {
}

//Heading tertiary
.heading-tertiary {
}

.paragraph {
}

.iziToast-message {
  font-family: "Neo Sans Arabic";
}
