@font-face {
  font-family: "Neo Sans Arabic";
  src: url("../Fonts/NeoSansArabic.ttf");
}

@font-face {
  font-family: "Neo-Bold";
  src: url("../Fonts/NeoSansArabic-Bold.ttf");
}

.mainColor {
  color: var(--main_color_1);
}

.link {
  color: var(--main_color_1);
  font-weight: bold;
}

// Primary Head
.h_1 {
}

// Secondary Head
.h_2 {
}

//Heading tertiary
.h_3 {
  font-size: 20px;
}

.h_4 {
  font-size: 15px;
}

.para {
}

._title {
  font-size: 15px;
  color: gray;
}

.iziToast-message {
  font-family: "Neo Sans Arabic";
}
